<div class="leftside">
    <div class="library">
        <h2 class="title">Library</h2>
        <div class="library-tools">
            <img class="tool-icon" src="/assets/toolsicon/1.png" alt="">
            <img class="tool-icon" src="/assets/toolsicon/2.png" alt="">
            <img class="tool-icon" src="/assets/toolsicon/3.png" alt="">

            <img class="tool-icon" src="/assets/toolsicon/4.png" alt="" [ngClass]="{'active':global.selectedRoom && global.selectedRoom.selectedCorner}" (click)="addCorner()">
            <img class="tool-icon" src="/assets/toolsicon/5.png" alt="">
            <img class="tool-icon" src="/assets/toolsicon/6.png" alt="">
            <img class="tool-icon" src="/assets/toolsicon/7.png" alt="">
            <img class="tool-icon" src="/assets/toolsicon/8.png" alt="">
            <img class="tool-icon" src="/assets/toolsicon/5.png" alt="">
        </div>
    </div>

    <div class="settings">
        <h2 class="title">Settings</h2>
        <div class="settings-tools" *ngIf="global.selectedRoom && global.selectedRoom.selectedObj">
            <div class="tool-item">
                <span>Color</span>
                <input type="text">
            </div>

            <div class="tool-item">
                <span>Length</span>
                <input type="number" [(ngModel)]="global.selectedRoom.selectedObj.length" (change)="lengthChanged($event.target.value)">
                <span>Change Otherwise</span>
                <input type="checkbox" [(ngModel)]="global.selectedRoom.selectedObj.isChangeOtherwise">
            </div>

            <div class="tool-item">
                <span>Show Length</span>
                <input type="checkbox" [(ngModel)]="global.selectedRoom.selectedObj.isShowLength" (change)="showlength($event.target.checked)">
            </div>

            <div class="tool-item">
                <span>Thicknes</span>
                <input type="number">
            </div>

            <div class="tool-item">
                <div>
                    <span>X</span>
                    <input type="number">
                </div>
                <div>
                    <span>Y</span>
                    <input type="number">
                </div>
            </div>
        </div>
    </div>
</div>